*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration: none;
}

nav{
    background-color: #122139;
    height:5rem;
    width:100%;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-inline:3rem;
}
ul{
    display:flex;
    list-style:none;
    gap:5rem;
    font-weight:500;
}
ul .li{

    cursor:pointer;
    color:white;
}

h1{
    border:1px solid white;
    color:white;
    padding:.5rem;
}
span{
    color:orange;
}